.navList {
    height: 100%;
    width: 5%;
    z-index: 1;
    top: 0;
    left:0;
    background-color: gray;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 1s;
    align-items: center;
    display: flexbox;
}

.navItem {
    width: 100%;
}

.navList, .navItem {
    list-style: none;
    text-align: center;
}