* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
#root,
main {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: 'Segoe UI', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	background: beige;

	* {
		user-select: none;
	}
}

@font-face {
	font-family: Minecraft;
	src: url('/fonts/MinecraftRegular.otf');
}

@font-face {
	font-family: MinecraftBold;
	src: url('/fonts/MinecraftBold.otf');
}

@font-face {
	font-family: MinecraftItalic;
	src: url('/fonts/MinecraftItalic.otf');
}

@font-face {
	font-family: MinecraftBoldItalic;
	src: url('/fonts/MinecraftBoldItalic.otf');
}
