* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
#root,
main {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: 'Segoe UI', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	background: rgb(72, 72, 72);

	* {
		user-select: none;
	}
}