.container {
	position: absolute;
	inset: 0;
	display: grid;
	place-content: flex-start center;
	padding-top: 10vh;
	gap: 1vh;
	margin-inline: auto;
	grid-template-areas: 'username username' 'email email' 'password password' 'login signup' 'message message';
}

.navItem {
	display: grid;
	text-align: center;
}

#textInput {
	height: 30px;
	margin: 5px;
	padding-left: 2px;
}

#username {
	@extend .navItem;
	@extend #textInput;
	grid-area: username;
}

#email {
	@extend .navItem;
	@extend #textInput;
	grid-area: email;
}

#password {
	@extend .navItem;
	@extend #textInput;
	grid-area: password;
}

#login {
	@extend .navItem;
	grid-area: login;
}

#signup {
	@extend .navItem;
	grid-area: signup;
}

#message {
	@extend .navItem;
	grid-area: message;
}

.flexAlign {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}
