.container {
	width: 30%;
	position: absolute;
	inset: 0;
	display: flex;
	place-content: flex-start center;
	flex-wrap: wrap;
	padding-top: 10vh;
	row-gap: 1vh;
	margin-inline: auto;
}

.uiItem {
	text-align: center;
	width: 100%;
}

#message {
	@extend .uiItem;
	grid-area: message;
	color: white;
}

#message a {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.flexAlign {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	color: white;
}
